.home-page-container {
  padding: 0px 20px;
  /* background-color: #f0f0f0; */
  min-height: 100vh;
}

.resident-list-container {
  padding: 2rem;
  border-radius: 0.5rem;
}

.resident-list-heading {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 2.8rem;
}

.resident-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
  /* height: 50vh; */
  /* overflow: auto  ; */
  padding: 1rem;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container.show {
  display: flex;
}

.no-data {
  display: flex;
}

@media only screen and (max-width: 1080px) {
  .resident-list {
    grid-template-columns: auto auto auto;
  }
  .resident-list-heading {
    padding: .9rem;
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 765px) {
  .resident-list {
    grid-template-columns: auto auto;
  }
  .resident-list-heading {
    padding: .7rem;
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 470px) {
  .resident-list {
    grid-template-columns: auto;
  }
  .resident-list-heading {
    padding: .5rem;
    font-size: 2rem;
  }
}
